<%# new.html.erb %>

<form action="<%= tasks_path %>" method="post">
  <br>
  <fieldset>
    <legend><strong>New Task</strong></legend>
    <input  type="hidden" 
      name="authenticity_token" 
      value="<%= form_authenticity_token %>">

    <br>
    Name:<br>
    <input name="task[name]" type="text"><br><br>
    Description:<br>
    <textarea name="task[description]" rows="5" cols="50">
      </textarea><br><br>
    Man Hours:<br>
    <input name="task[man_hours]" type="number"><br><br>
    Resources:<br>
    <input name="task[resources]" type="number"><br><br>
    Completion Date:<br>
    <input name="task[completion_date]" type="date"><br><br>

    <input type="submit" value="Submit!"><br><br>
  </fieldset>
</form>

